.acct-list {
    color: $mine-shaft;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li {
        border: 2px solid $wild-sand;
        list-style-type: none;
        padding: px-to-rem(20px);
        position: relative;
        width: 100%;

        &.default {
            background-color: $wild-sand;
            border: 0;
            margin-top: 1em;
        }
    }

    li + li {
        margin-top: px-to-rem(20px);
    }

    &__section-header {
        & + .mini-address {
            margin-top: px-to-rem(14px);
        }
    }

    &__actions {
        margin-top: px-to-rem(20px);
        margin-left: px-to-rem(-6px);

        @media ($breakpoint-lg) {
            margin-top: 0;
            position: absolute;
            top: px-to-rem(16px);
            right: px-to-rem(20px);
        }

        button {
            @include button-to-link();
        }
    }

    &__link {
        margin-right: px-to-rem(4px);
        margin-left: px-to-rem(6px);
    }

    a, .button-text {
        margin-right: 0.2rem;
    }
}
