.breadcrumb {
    color: $jumbo;
    @include primary-font(400);
    font-size: px-to-rem(13px);
    line-height: 1.8;
    margin: 0;
    padding-bottom: px-to-rem(18px);
    text-align: left;

    @media ($breakpoint-ml) {
        padding-top: px-to-rem(36px);
    }

    li {
        display: inline;
        list-style: none outside none;
    }

    a {
        color: $jumbo;
    }
}

.breadcrumb-refined-by {
    &:before {
        color: $jumbo;
        content: ' / ';
    }
}

.breadcrumb-refinement {
    font-weight: 600;
}

.breadcrumb-refinement-value {
    background-color: #f3f3f3;
    border-radius: px-to-rem(10px);
    display: inline-block;
    font-size: px-to-rem(12px);
    font-weight: 600;
    line-height: 1.667;
    margin: 0 px-to-rem(5px) px-to-rem(5px) 0;
    padding: 0 px-to-rem(10px);
}

.breadcrumb-relax {
    background-image: url('../images/interface/x.svg');
    display: inline-block;
    height: px-to-rem(7px);
    margin: px-to-rem(7px) 0 px-to-rem(7px) px-to-rem(3px);
    vertical-align: top;
    width: px-to-rem(8px);
}

.breadcrumb-result-text a,
.breadcrumb .searchphraselink {
    background: none;
    padding: 0;
}
