<section class="product-secondary-info" style="background-image: url('https://via.placeholder.com/920x565');">
	<div>
		<h2>Features</h2>
		<ul>
			<li>Made with the active form of Vitamin B6, as well as methylated forms of folate and B12 suitable for those who specifically desire methylated forms</li>
			<li>Includes 600 IU (15 mcg) of vitamin D to support already healthy bones*</li>
			<li>600 msg of folate in its methylated form and choline support fetal health*</li>
			<li>Calcium- and magnesium-free formulation. We suggest you also take <a href="#">MegaFood<sup>&reg;</sup> Bone Health</a>.</li>
			<li>Formulated by award-winning integrative physician, <a href="#">Tieraona Low Dog, M.D.</a></li>
			<li>An herbal-free formulation. For a prenatal with suportive herbs, try original <a href="#">Baby &amp; Me<sup>TM</sup></a></li>
		</ul>

		<p>This MegaFood product is made with real food, wholesome nutritional yeast and added nutrients. Each vitamin or mineral is paired with an ideal whole food using our unique process to deliver guaranteeed potency and the benefit of health-promoting compounds present in the whole food itself.* <a href="#">See how they are made.</a> Satisfaction guaranteed or your money back.</p>
		<p>We believe that the most nutritious food comes from healthy soils and valued farmers. Our goald is to work with farmers who share our commitment to organic and regenerative agriculture. <a href="#">Learn more about our farmers.</a></p>
	
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
	</div>
</section>

