<section class="product-secondary-info text-right" style="background-image: url('https://via.placeholder.com/920x565');">
	<div>	
		<h2>Key Facts</h2>
		<p class="sub-copy">This is the sub-copy line.</p>

		<h3>What's the difference between Folate and Folic acid?</h3>
		<p>Folate is an essential nutriend best known for supporting neural tube development during pregnancy. For non-pregnant women, Folate is still a must-have. It's involved in multiple life-sustaining processes, including DNA synthesis. Without enough of this nutrient, the neurotransmitters that regulate your mood get lazy.</p>

		<h3>Why is there only 600 mcg of folate?</h3>
		<p>Folate is an essential nutrient best known for uspporting neural tube development duringh pregnancy.</p>

		<h3>Why is there only 600 mcg of folate?</h3>
		<p>Folate is an essential nutrient best known for uspporting neural tube development duringh pregnancy. Folate is an essential nutrient best known for uspporting neural tube development duringh pregnancy.</p>
	
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
	</div>
</section>
