<div class="product-slider slider">
	<img srcset="https://via.placeholder.com/857x857 857w,
				 https://via.placeholder.com/700x700 700w,
				 https://via.placeholder.com/540x540 540w,
				 https://via.placeholder.com/400x400 400w,
				 https://via.placeholder.com/320x320 320w
				"
	 sizes="(min-width: 57.563em) 50vw,
	 		(min-width: 18.75em) 100vw
	 	   "
	 src="https://via.placeholder.com/320x320"
	 alt="product name">

	<img srcset="https://via.placeholder.com/857x857 857w,
				 https://via.placeholder.com/700x700 700w,
				 https://via.placeholder.com/540x540 540w,
				 https://via.placeholder.com/400x400 400w,
				 https://via.placeholder.com/320x320 320w
				"
	 sizes="(min-width: 57.563em) 50vw,
	 		(min-width: 18.75em) 100vw
	 	   "
	 src="https://via.placeholder.com/320x320"
	 alt="product name">

	<img srcset="https://via.placeholder.com/857x857 857w,
				 https://via.placeholder.com/700x700 700w,
				 https://via.placeholder.com/540x540 540w,
				 https://via.placeholder.com/400x400 400w,
				 https://via.placeholder.com/320x320 320w
				"
	 sizes="(min-width: 57.563em) 50vw,
	 		(min-width: 18.75em) 100vw
	 	   "
	 src="https://via.placeholder.com/320x320"
	 alt="product name">
</div>
