.checkout-shipping, .checkout-billing, .place-order-form {
    margin-bottom: px-to-rem(56px);

    @media ($breakpoint-ml) {
        margin-bottom: 0;
    }

    .privacy-policy { // Temp fix until o-layout is updated
        font-size: 1rem;
    }
}
