/* ============================================================================
   Search Form
   ============================================================================ */

/**
 * Styles for search form to make a single
 * input and a submit button with that is an icon
 */

$ns: c-form-search;

$form-search-input-height: px-to-rem(40px);

.#{$ns} {
    display: block;
    position: relative;
    text-align: right;

    // Search Form Input Field
    &__input[type="search"] {
        height: $form-search-input-height;
        padding-right: px-to-rem(54px);
        transition: border .25s ease;

        @media ($breakpoint-ml) {
            width: px-to-rem(259px);
        }

        .appearance & {
            appearance: none;
        }
    }

    // Search Form Submit Button
    [type="submit"] {
        @include remove-button();
    }

    &__submit {
        @include remove-button();
        display: inline-block;
        height: px-to-rem(14px);
        position: absolute;
        top: 50%;
        right: px-to-rem(20px);
        transform: translateY(#{px-to-rem(-12px)});
        transition: $transition-primary;

        &-icon {
            height: px-to-rem(14px);
            width: px-to-rem(14px);
        }
    }
}
