$ns: c-store-finder-block;

.#{$ns} {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    @media ($breakpoint-xs) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media ($breakpoint-ml) {
        flex-wrap: nowrap;
    }

    &::after {
        background-image: url('../images/header/bg-border-ragged-secondary.png');
        background-repeat: repeat-x;
        content: "";
        display: block;
        height: px-to-rem(13px);
        position: absolute;
        left: 50%;
        bottom: px-to-rem(-33px);
        transform: translateX(-50%);
        width: 100%;
    }

    &__label {
        color: $kaitoke-green;
        display: block;
        font-size: px-to-rem(25px);
        line-height: 1.4;
        margin-bottom: px-to-rem(12px);
        text-align: center;

        @media ($breakpoint-xs) {
            min-width: 100%;
        }

        @media ($breakpoint-ml) {
            min-width: auto;
            margin-bottom: 0;
            margin-right: px-to-rem(30px);
        }
    }

    &__input[type="text"] {
        background-image: url('../images/icon-store-locator.svg');
        background-repeat: no-repeat;
        background-position: 11px center;
        height: px-to-rem(40px);
        max-width: px-to-rem(173px);
        padding-left: px-to-rem(40px);
        margin-bottom: px-to-rem(12px);

        @media ($breakpoint-xs) {
            border-radius: px-to-rem(3px) 0 0 px-to-rem(3px);
            margin-bottom: 0;
        }
    }

    &__button[type="submit"] {
        padding: px-to-rem(7px) px-to-rem(24px) px-to-rem(6px);
        margin: 0;
        border-radius: 0;

        @media ($breakpoint-sm) {
            padding: px-to-rem(7px) px-to-rem(32px) px-to-rem(6px);
        }
    }
}
