/* ============================================================================
   Button
   ============================================================================ */

$ns: c-button;

.#{$ns} {
    background-color: $mango-tango;
    border-radius: px-to-rem(31.5px);
    color: white;
    display: inline-block;
    font-family: $font-family-secondary;
    font-size: px-to-rem(20px);
    font-weight: 700;
    min-height: px-to-rem(53px);
    letter-spacing: px-to-em(0.6px);
    line-height: 1;
    padding-right: px-to-rem(40px);
    padding-left: px-to-rem(40px);
    position: relative;
    text-align: center;
    transition: background-color .25s ease,
                border .25s ease;
    width: 100%;

    @media ($breakpoint-ml) {
        border: 3px solid white;
        font-size: px-to-rem(22px);
        min-height: px-to-rem(59px);
        top: px-to-rem(-3px);
        left: px-to-rem(-3px);
        width: auto;
    }

    &:hover {
        background-color: $mango-tango-hover;
        border: 3px solid $mango-tango-hover;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    &:disabled {
        background-color: $mango-tango;
        opacity: .5;
        transition: none !important;

        &:hover {
            border: 0 !important;
            min-height: px-to-rem(53px);
            margin-right: px-to-rem(6px) !important;
            cursor: not-allowed;
            left: 0 !important;
            opacity: 0.5;
        }
    }

    & + & {
        margin-top: px-to-rem(10px);

        @media ($breakpoint-ml) {
            margin-top: 0;
            margin-left: px-to-rem(9px);
        }
    }
}

/**
 * Handles vertically aligning better then padding
 */

a.#{$ns}, span.#{$ns} {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

/* Modifiers
   ============================================================================ */

.#{$ns}--facebook-login {
   background-color: $facebook-blue;
   font-size: px-to-rem(17px);
   line-height: 2;
   text-align: center;
   text-transform: none;

   &:hover {
       background-color: $facebook-blue-hover;
       border-color: $facebook-blue-hover;
   }

   .#{$ns}__icon {
       display: inline-block;
       fill: white;
       min-height: px-to-rem(25px);
       margin-right: px-to-rem(12px);
       vertical-align: middle;
       width: px-to-rem(22px);
   }
}

.#{$ns}--secondary {
    background-color: $hibiscus;

    &:hover {
        background-color: $maroon-flush;
        border: 3px solid $maroon-flush;
    }
}

.#{$ns}--small {
    font-size: px-to-rem(18px);
    min-height: px-to-rem(40px);
    padding: 0 px-to-rem(30px);
}

.#{$ns}--full-width {

    @media ($breakpoint-ml) {
        width: 100%;
    }

}

.#{$ns}--link {
    background-color: transparent;
    border: none;
    color: $mango-tango;
    font-size: px-to-rem(15px);
    font-weight: 500;
    height: auto;
    padding: 0;
    transition: none;
    width: auto;

    @media ($breakpoint-ml) { 
        font-size: px-to-rem(18px);
    }

    &:hover {
        background-color: transparent;
        border: none;
        color: $mango-tango;
    }
}


.#{$ns}--pill{
    display: block;
    margin: 0 auto;
    font-family: $font-family-secondary;
    font-weight: 700;
    letter-spacing: px-to-em(0.7px);
    font-size: px-to-rem(18px);
    color: $white;
    border-radius: 1.425rem;
    border: 2px solid transparent;
    padding: 0 2.5rem;
    text-align: center;
    text-transform: uppercase;
    min-height: 2.75rem;
    line-height: 2.75rem;
    margin-top: 1.5rem;
    max-width: 14rem;

    &:hover {
        @media ($breakpoint-ml) {
            border-color: transparent;
            max-width: 13.5rem;
        }
    }

    &.green {
        background-color: $kaitoke-green;
        border-color: $kaitoke-green;
        color: $white;

        &:hover {
            background-color: $vida-loca;
            border-color: $vida-loca;
        }
    }

    &.white {
        background-color: $white;
        border-color: $white;
        color: $pumpkin;

        &:hover {
            background-color: rgba(255, 255, 255, .3);
            border-color: transparent;
            color: $white;
        }
    }
    
    &.green-on-white{
        background-color: $white;
        border-color: $white;
        color: $green-leaf;

        &:hover {
            background-color: rgba(255, 255, 255, .3);
            border-color: transparent;
            color: $white;
        }
    }

    &.green-on-transparent {
        background-color: transparent;
        border: 2px solid $kaitoke-green;
        color: $kaitoke-green;

        &:hover {
            background-color: rgba(255, 255, 255, .3);
            border-color: $green-leaf;
            color: $green-leaf;
        }
    }

    &.transparent{
        background: transparent;
        border: 2px solid $white;
        color: $white;

        &:hover {
            @media ($breakpoint-ml) {
                background: rgba(255, 255, 255, .2);
                border-color: transparent;
            }
        }
    }
    &.orange-on-white{
        color: #f98026;
        border: 2px solid $white;
        background: $white;

        .pt_storefront &{
            height: initial;
            line-height: 1.5;
            font-size: px-to-rem(20px);
            text-transform: initial;
            width: 8rem;
            padding: 0;
            letter-spacing: 0;

            &:hover {
                @media ($breakpoint-ml) {
                    width: 9rem;
                }
            }
        }

        &:hover{
            @media ($breakpoint-ml) {
                background: rgba(255, 255, 255, .3);
                border-color: transparent;
                color: $white;
            }
        }
    }
}
