/* ============================================================================
   Cart Table
   ============================================================================ */

$ns: c-cart-table;

.#{$ns} {
    display: block;
    width: 100%;
    border-top: 2px solid $wild-sand;
    padding-bottom: px-to-rem(20px);
    table-layout: fixed;

    @media ($breakpoint-lg) {
        border-top: 2px solid rgb(245, 245, 245);
        display: table;
    }

    thead {
        display: block;

        @media ($breakpoint-lg) {
            display: table-header-group;
        }
    }

    tbody {
        display: block;

        @media ($breakpoint-lg) {
            display: table-row-group;
        }
    }

    th {
        display: none;
        font-weight: 600;
        padding-top: px-to-rem(15px);
        padding-right: px-to-rem(20px);
        text-align: left;
        vertical-align: top;
        background-color: $white;
        border: none;

        @media ($breakpoint-lg) {
            display: table-cell;
            padding-left: 0;
        }

        &:last-child {
            @media ($breakpoint-lg) {
                padding-right: 0;
            }
        }
    }

    tr {
        display: block;
        margin-top: px-to-rem(20px);

        @media ($breakpoint-lg) {
            display: table-row;
            margin-top: 0;
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            td {
                border-bottom: 0;
            }
        }
    }

    tr + tr {
        border-top: 1px solid rgb(245, 245, 245);

        @media ($breakpoint-lg) {
            border-top: 0;
        }
    }

    td {
        border: none;
        display: block;
        padding-top: px-to-rem(20px);
        vertical-align: top;

        @media ($breakpoint-lg) {
            border-bottom: 1px solid rgb(245, 245, 245);
            display: table-cell;
            padding: px-to-rem(15px) px-to-rem(20px) px-to-rem(15px) 0;
        }

        &::before {
            color: rgb(0, 76, 36);
            content: attr(data-header);
            display: block;
            font-weight: 600;

            @media ($breakpoint-lg) {
                display: none;
            }
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            @media ($breakpoint-lg) {
                padding-right: 0;
            }
        }
    }

    &__cell {
        padding-top: px-to-rem(10px);
        padding-left: px-to-rem(92px);
        width: 100%;

        @media ($breakpoint-lg) {
            padding-top: px-to-rem(20px);
            padding-left: 0;
        }

        &::before {
            display: none;
        }

        &--product-detail {
            padding-top: px-to-rem(20px);
            padding-left: 0;
        }

        &--no-padding {
            padding: 0;
        }

        &-center {
            @media ($breakpoint-lg) {
                text-align: center;
            }
        }

        &-right {
            @media ($breakpoint-lg) {
                text-align: right;
            }
        }

        p.error {
            width: 100%;
            background-color: $error-color;
            color: $white;
            display: block;
            font-size: .9rem;
            padding: px-to-rem(9px);
            margin-top: -1rem;

            @media ($breakpoint-lg) {
                width: 200%;
            }
        }
    }

    &__total {
        font-weight: 700;
        padding-top: px-to-rem(10px);

        @media ($breakpoint-lg) {
            padding-top: px-to-rem(20px);
        }
    }

    @media ($breakpoint-ml) {
        border-top: none;

        tr {
            &:nth-last-child(2), &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }

        .update {
            padding-left: px-to-rem(87px);
            margin-top: 0;
            border: none;
        }
    }

    @media ($breakpoint-lg) {
        padding-bottom: 0;

        th {
            &:nth-of-type(1) {
                width: 33%;
            }

            &:nth-of-type(2) {
                width: 35%;
            }

            &:nth-of-type(3) {
                width: 10%;
            }

            &:nth-of-type(4) {
                width: 13%;
            }

            &:nth-of-type(5) {
                width: 9%;
            }
        }

        .update {
            text-align: right;
        }
    }
}

.cart-order-block__col-primary {
    @media ($breakpoint-ml) {
        width: 100%;

        .cart-order-block__section {
            display: flex;

            .secondary & {
                justify-content: flex-end;
            }
        }
    }
}

#cart-items-form {
    @media ($breakpoint-lg) {
        .c-product-block--content-only {
            .c-product-block__content {
                margin-left: 0;
            }
        }
    }
}

#cart-items-form-submit {
    display: none;//Temporary fix to hide from everyone. Ideally, we would want the submit button to be shown for all users and be at the bottom of the form.
}

.cart {
    .cart-order-totals {
        max-width: px-to-rem(300px);
    }

    @media ($breakpoint-ml) {
        display: flex;

        #cart-items-form {
            width: columns(7,12);
            padding-right: $gutter-lg;
        }

        .secondary {
            width: columns(5,12);
            padding-left: $gutter-lg;
            border-left: 1px solid whitesmoke;

            .c-section__header {
                padding-top: 0;
            }
        }

        .c-alert {
            text-align: left;
        }

        .cart-order-totals {
            max-width: 100%;
        }
    }

    @media ($breakpoint-lg) {
        #cart-items-form {
            width: columns(8,12);
        }

        .secondary {
            width: columns(4,12);
            padding-top: px-to-rem(8px);
        }
    }
}
