/* ============================================================================
   Form Block
   ============================================================================ */

$ns: c-form-block;

.#{$ns} {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
        margin-bottom: px-to-rem(18px);
    }

    &__body {
        font-size: px-to-rem(12px);

        @media ($breakpoint-ml) {
            font-size: px-to-rem(13px);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__content {
        ul {
            margin-top: px-to-rem(20px);
            margin-left: px-to-rem(38px);
        }
    }

    &__row {
        position: relative;
    }

    &__tooltip {
        display: block;
        color: $emperor;
        font-size: px-to-rem(13px);
        font-weight: 400;
        margin-top: px-to-rem(-24px);
        margin-bottom: px-to-rem(32px);

        &:hover, &:focus {
            color: $vida-loca;
        }
    }
}
