/* ============================================================================
   Banner Heading
   ============================================================================ */

$ns: c-banner-heading;

.#{$ns} {
    text-align: center;

    &__one {
        color: $sun;
    }

    &__two {
        color: $observatory;
    }
}

/* Modifiers
   ============================================================================ */
.#{$ns} {
    &__two--white {
        color: white;
    }
}
