/* ============================================================================
   Refinements
   ============================================================================ */

$ns: c-refinement;

.#{$ns} {
    border-bottom: 1px solid $athens-gray;
    margin-bottom: px-to-rem(6px);
    padding-bottom: px-to-rem(10px);

    &__top-level-link {
        &:hover {
            color: $mango-tango !important;
        }
    }

    @media (max-width: 57.5em) {
        &:last-child {
            border: none;
            padding: 0;
            margin: 0;
        }
    }

    ul {
        @include remove-list();
        margin-bottom: 0;
    }

    a {
        text-decoration: none;
    }

    &.category-refinement:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &.category-refinement,
    .category-header {
        & .refinement-link.active {
            color: $mango-tango;
            cursor: pointer;
            text-decoration: none;
        }
    }

    &-link.active {
        color: $mango-tango;
    }

    .category-header {
        font-weight: 600;
        padding: px-to-rem(16px) 0 0 0;
        margin-bottom: px-to-rem(16px);
    }

    &:not(.category-refinement) {
        > ul {
            padding: 0;
            
            @media ($breakpoint-ml) {
                padding-bottom: px-to-rem(10px);
            }

            > li:not(.clear-refinement) {
                a {
                    position: relative;
                    display: block;
                    line-height: 1.5;
                    color: $dove-gray;
                    padding: 0 0 0 px-to-rem(29px);
                    margin-bottom: px-to-rem(20px);

                    &::before {
                        content: '';
                        position: absolute;
                        top: px-to-rem(3px);
                        left: 0;
                        height: px-to-rem(20px);
                        width: px-to-rem(20px);
                        background-color: $white;
                        border: 1px solid $emperor;
                    }

                    &:hover, &:focus {
                        &::before {
                            border: 2px solid $vidaLoca;
                        }
                    }
                }

                &.selected {
                    a {
                        &::before {
                            background-color: $vidaLoca;
                            border-radius: px-to-rem(3px);
                        }

                        &::after {
                            content: '✓';
                            position: absolute;
                            top: px-to-rem(6.5px);
                            left: px-to-rem(4px);
                            font-size: px-to-rem(14px);
                            line-height: 1;
                            color: $white;
                        }
                    }
                }
            }

            .clear-refinement {
                a {
                    @extend [type="reset"];
                }
            }

            li + li {
                margin-top: px-to-rem(15px);
            }
        }
    }
}

/* Modifiers
   ============================================================================ */
.#{$ns}--attributes:first-child {
    @media ($breakpoint-ml) {
        border-top: 1px solid $athens-gray;
        padding-top: px-to-rem(6px);
    }
}
