/* ============================================================================
Accordion Consumer Landing - Currently used for accordion-consumer-landing.isml
============================================================================ */

$ns: c-accordion-consumer-landing;

.c-accordion-consumer-landing{
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #3b3b3b;
    display: block;
    padding-top: px-to-rem(31px);
    padding-bottom: px-to-rem(16px);
    position: relative;
    counter-reset: section; 

    @media ($breakpoint-ml) {
        padding-top: px-to-rem(60px);
        padding-bottom: px-to-rem(45px);
    }

    b {
        &.header, &.green{
            display: block;
            margin-bottom: 1rem;
        }

        &.green{
            color: $zuccini;
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }
    
    hr {
        clear: both;
        margin: 2em 0;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #d8d8d8;
        padding: 0; 
    }

    div.answer {
        padding: 0.25rem 1rem 0 0;
    }

    .innerVideo {
        background-color: $vidaLoca;
        color: $white;
        margin: 1rem 0 2rem;

        img {
            width: 100%;
            vertical-align: top;
        }

        .videoFooter {
            padding: px-to-rem(28px) px-to-rem(30px) px-to-rem(14px);
            position: relative;
            font-size: px-to-rem(16px);
            line-height: 1;
            text-align: center;

            @media ($breakpoint-ml) {
                padding: px-to-rem(14px) px-to-rem(30px);
                font-size: px-to-rem(21px);
                text-align: left;
            }

            .watchBtn {
                position: absolute;
                right: px-to-rem(50px);
                top: px-to-rem(-33px);
                box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);

                &:before {
                    display: inline-block;
                    content: ' ';
                    background-image: url(../images/interface/play-small.svg);
                    background-size: px-to-rem(19px) px-to-rem(19px);
                    background-position: 50%;
                    height: px-to-rem(19px);
                    width: px-to-rem(19px);
                    margin: 0;
                    padding-right: 2rem;
                    margin-left: -0.5rem;
                    background-repeat: no-repeat;
                    position: relative;
                    top: px-to-rem(2px);
                }
            }
        }
    }

    ul, ol{
        &.healthyGutList {
            list-style:none;
            padding-left: 0;

            li {
                clear: both;
                margin: 2em 0;
                color: #636363;
                font-weight: 500;
                font-size: px-to-rem(16px);
                line-height: 1.5;
                position: relative;
                padding-left: 0;
                min-height: px-to-rem(88px);


                @media ($breakpoint-ml) {
                    padding-left: px-to-rem(121px);
                    margin: .5rem 0 2rem;
                }

                img {
                    float: right;
                    margin-top: 2rem;

                    @media ($breakpoint-ml) {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: px-to-rem(100px);
                        margin-top: 0;
                    }
                }

                a {
                    padding-top: 0.5rem;

                    &.recipeLink {
                        display: block;
                    }
                }
            }
        }

        &.yogalist {
            li {
                display: flex;
                align-items: center;
                flex-direction: column;

                &::before {
                    content: none;
                    width: 0;
                    margin: 0;
                }

                @media ($breakpoint-ml) {
                    flex-direction: row;
                    margin-bottom: 1rem;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }

                &:nth-child(2n) {
                    @media ($breakpoint-ml) {
                        flex-direction: row-reverse;
                    }
                }

                div {
                    width: 100%;

                    @media ($breakpoint-ml) {
                        width: 65%;
                    }

                    b {
                        display: block;
                        margin-bottom: .5rem;
                    }
                }
            }
        }
    }
}
