/* ============================================================================
   Progress Steps
   ============================================================================ */

$ns: c-progress-steps;

.#{$ns} {
    display: flex;
    height: px-to-rem(32px);
    margin-bottom: px-to-rem(24px);

    @media ($breakpoint-ml) {
        height: px-to-rem(40px);
    }

    &__item {
        align-items: center;
        background-color: $wild-sand;
        box-sizing: content-box;
        display: flex;
        height: 100%;
        font-weight: 600;
        justify-content: center;
        text-transform: uppercase;
        width: calc(33.333% - #{px-to-rem(1.333px)});

        & + & {
            border-left: 2px solid white;
        }

        &.is-active {
            background-color: $vida-loca;
            color: white;

            .#{$ns}__link {
                color: white;
            }
        }
    }

    &__link {
        color: $mine-shaft;

        &:hover {
            text-decoration: none;
        }
    }

    &__label {
        display: none;

        @media ($breakpoint-ml) {
            display: inline-block;
        }
    }
}
