/* ============================================================================
   Banner Heading
   ============================================================================ */

$ns: c-banner-heading;

.#{$ns} {
    font-family: $font-family-tertiary;
    text-align: center;

    &__one {
        color: $sun;
    }

    &__two {
        color: $observatory;
    }

}

/* Modifiers
   ============================================================================ */

.#{$ns} {
    &__two--white {
        color: white;
    }
}