$ns: c-featured-action-block;

.#{$ns} {
    &:hover {
        .#{$ns}__link {
            color: $mango-tango-hover;

            &-icon {
                fill: $mango-tango-hover;
            }
        }
    }

    &__body {
        color: $gray;
        font-size: px-to-rem(20px);
        font-weight: 500;
        line-height: 1.35;
        margin-top: px-to-rem(6px);
        padding-right: px-to-rem(10px);
        padding-left: px-to-rem(10px);
    }

    &__link {
        margin-top: px-to-rem(6px);

        &-icon {
            fill: $mango-tango;
            height: px-to-rem(11px);
            width: px-to-rem(9px);
        }
    }
}
