$ns: c-multi-section-page;

.#{$ns} {
    color: $black;
    font-family: 'Montserrat', sans-serif;

    &__text-content.entry {
        h2 {
            font-family: 'Montserrat', sans-serif;
            color: #054a25;
        }
    }

    a {
        color: #054a25;
    }
}
