/* ============================================================================
   Promotions
   ============================================================================ */

$ns: c-promotions;

.#{$ns} {
    background-color: $vida-loca;
    border-radius: px-to-rem(3px);
    color: white;
    display: inline-flex;
    font-size: px-to-rem(19px);
    margin-bottom: px-to-rem(25px);
    padding: px-to-rem(4px) px-to-rem(15px);
    text-align: center;

    // Product promotions tooltip
    &__tooltip {
        color: white;
        font-weight: 700;
        text-decoration: none;

        &:hover, &:focus {
            color: white;
        }
    }
}

/* Modifiers
   ============================================================================ */
.#{$ns}--no-margin {
    margin: 0;
}
