/* ============================================================================
Banner Coming Soon
============================================================================ */

$ns: c-banner-coming-soon;

.#{$ns} {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: $mine-shaft;
    display: block;
    padding-bottom: px-to-rem(56px);
    padding-top: px-to-rem(82px);
    position: relative;
    background-image:  radial-gradient(circle at 11% 54%, #ffb93f , rgba(255, 187, 66, 0)), linear-gradient(to bottom, #fea11e , #f55723 );

    @media ($breakpoint-ml) {
        padding-bottom: px-to-rem(87px);
        padding-top: px-to-rem(87px);
        background-image: radial-gradient(circle at 43% 37%, #ffca3c  , rgba(255, 187, 66, 0)), linear-gradient(to bottom, #fc890b, #f23a1d);
    }

    &:hover {
        color: $mine-shaft;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: px-to-rem(-15px);
        margin-left: px-to-rem(-15px);
        padding-right: px-to-rem(18px);
        padding-left: px-to-rem(17px);

        @media ($breakpoint-ml) {
            padding-right: 5rem;
            padding-left: 5rem;
        }
    }

    &__image-wrapper {
        line-height: 1;
        margin: px-to-rem(20px) 29% px-to-rem(24px) 35%;
        max-width: 50%;
        text-align: center;
        padding-top: px-to-rem(43px);

        @media ($breakpoint-ml) {
            padding-top: px-to-rem(39px);
            margin: 0 auto;
            width: px-to-rem(150px);
        }
    }

    .col-6 {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 100%;
        min-height: px-to-rem(1px);
        padding-right: px-to-rem(15px);
        padding-left: px-to-rem(15px);
    }

    &__heading {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        @media ($breakpoint-ml) {
            text-align: left;
            display: flex;
            justify-content: flex-start;
        }
    }

    &__body {
        color: $zuccini;
        font-family: 'Northwoods-Regular';
        font-size: px-to-rem(21px);
        line-height: 1.29;
        margin-top: px-to-rem(10px);
        margin-right: auto;
        margin-left: auto;
        margin-bottom: .75em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        
        @media ($breakpoint-ml) {
            font-size: px-to-rem(27px);
            line-height: 1.22;
            text-align: left;
        }

        .c-button--pill {
            margin: px-to-rem(35px) auto 0 auto;
            min-width: px-to-rem(233px);

            @media ($breakpoint-ml) {
                margin: px-to-rem(29px) 0 0 0;
                min-width: px-to-rem(243px);
            }
        }

        .pt_storefront & {
            font-weight: 400;
        }

        .c-button--pill.orange-on-white{
            margin-left: auto !important;
            margin-right: auto !important;

            @media ($breakpoint-ml) {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    &__links {
        @media ($breakpoint-ml) {
            margin-top: px-to-rem(42px);
        }

        ul {
            @include pxl-list-flat();
        }

        // Targeting Content Asset Links
        a, span {
            @extend .c-button;
            background-color: $hibiscus;
            border: 0;
            font-size: px-to-rem(20px);
            font-weight: 700;
            letter-spacing: px-to-em(0.6px);
            position: absolute;
            top: initial;
            bottom: px-to-rem(30px);
            left: px-to-rem(15px);
            transition: background-color .25s ease;
            width: calc(100% - #{px-to-rem(30px)});

            &:hover {
                @media ($breakpoint-ml) {
                    background-color: $maroon-flush;
                    border: 3px solid $maroon-flush;
                }
            }

            @media ($breakpoint-ml) {
                position: relative;
                bottom: 0;
                left: 0;
                width: auto;
            }

            &:hover {
                @media ($breakpoint-ml) {
                    left: px-to-rem(3px);
                }
            }
        }
    }

    &__image {
        display: inline-block;
        max-width: px-to-rem(150px);

        @media ($breakpoint-ml) {
            margin-left: 0;
        }
    }
}
