/* ============================================================================
   Pricing
   ============================================================================ */

$ns: c-pricing;

.#{$ns} {
    &__price {
        color: $vida-loca;
        font-size: px-to-rem(25px);
        font-weight: 600;
        text-align: left;
        margin-bottom: px-to-rem(15px);

        @media ($breakpoint-ml) {
            font-size: px-to-rem(35px);
        }
    }    
}
