/* ============================================================================
   Form Block
   ============================================================================ */

$ns: c-form-block;

.#{$ns} {
    &__row {
        position: relative;
    }

    &__tooltip {
        display: block;
        color: $emperor;
        font-size: px-to-rem(13px);
        font-weight: 400;
        margin-top: px-to-rem(-24px);
        margin-bottom: px-to-rem(32px);

        &:hover, &:focus {
            color: $vida-loca;
        }
    }
}
