#og-msi {
    select {
        margin-bottom: 0;
    }
}

.og-shipment-footer {
    table {
        th, td {
            border: none;
        }

        th {
            background-color: transparent;
        }
    }
}
