$ns: s-content;

.#{$ns} {
    // Lists
    ul,
    ol {
        margin: px-to-rem(20px) 0 px-to-rem(30px) px-to-rem(40px);
    }

    li + li {
        margin-top: px-to-rem(20px);
    }

    dd + dt {
        margin-top: px-to-rem(30px);
    }
}
