$ns: s-content;

.#{$ns} {

    // Headers
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: px-to-rem(30px);
        margin-bottom: px-to-rem(20px);
    }

    > h2:first-child,
    > h3:first-child,
    > h4:first-child,
    > h5:first-child,
    > h6:first-child {
        margin-top: 0;
    }

    // Paragraphs
    p + p {
        margin-top: px-to-rem(15px);
    }

    // Lists
    ul,
    ol {
        margin: px-to-rem(20px) 0 px-to-rem(30px) px-to-rem(40px);
    }

    li + li {
        margin-top: px-to-rem(20px);
    }

    dd + dt {
        margin-top: px-to-rem(30px);
    }
}
