<section class="nutrition-info base-styles">
	<h2>Benefits</h2>
	<p class="desc">Improved health for you and for baby!* Probiotics area a top recommended supplement for expectant moms! MegaFlora for Baby &amp; Me contains a broad spectrum of our proprietary blend of 14 unique strains of 30 billion probiotics.</p>

	<h2>Supplement Facts</h2>
	
	<div class="serving-info">
		<ul>
			<li>Form <span class="tablet">Tablet</span></li>
			<li>Serving size <span>2</span></li>
		</ul>
	
		<p class="serving-directions">2 tablets daily. May be taken anytime throughout the day, even on an empty stomach.</p>
	</div>
	
	<img src="https://via.placeholder.com/750x750" alt="product name supplement facts">

	<h3>More Information</h3>
	<small>Store at a controlled temperature, not to exceed 75ºF. Temperature Sensitive. Do not leave in sun or heated areas.</small>
</section>
