<main class="content-page">
	<div><img src="https://via.placeholder.com/1440x550?text=Optional+Content+Slot" alt="Optional content slot"></div>
	<div class="primary">
		<p>This is the primary content area that gets the padding. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
	</div>
</main>
