$ns: st-header;

$st-header__padding-top: px-to-rem(22px) !default;

.header-msg {
    display: none;
    
    &.show {
        display: flex;
        justify-content: space-between;
        padding: px-to-rem(7px) px-to-rem(30px);
        max-width: $site-max-width;
        margin: 0 auto;

        p {
            margin-right: px-to-rem(10px);
            margin-bottom: 0;
        }

        button {
            @include remove-button();
            text-indent: -999999rem;
            @include x-icon('right', $mine-shaft, $emperor);
            height: px-to-rem(24px);
            width: px-to-rem(20px);
            margin-bottom: 0;
        }
    }
}

.#{$ns} {
    position: relative;
    z-index: 100;

    @media ($breakpoint-ml) {
        margin-bottom: px-to-rem(-6px);
    }

    &__container {
        background-color: white;
        padding-bottom: px-to-rem(15px);

        @media ($breakpoint-ml) {
            padding-bottom: 0;
        }

        @media ($breakpoint-lg) {
            padding-bottom: px-to-rem(15px);
        }
    }

    &__wrapper {
        position: relative;
    }

    &__top-block {
        background-color: $vida-loca;
        color: white;
        line-height: 1.5;
        padding-top: px-to-rem(7px);
        padding-bottom: px-to-rem(7px);
        text-align: center;

        @media ($breakpoint-ml) {
            text-align: left;
        }
    }

    &__promo {
        font-size: px-to-rem(15px);
        font-weight: 600;

        p {
            margin-bottom: 0;
        }
    }

    &__logo-block {
        padding-top: px-to-rem(15px);
        padding-bottom: px-to-rem(21px);

        @media ($breakpoint-ml) {
            padding-top: $st-header__padding-top;
            padding-bottom: px-to-rem(6px);
        }

        @media ($breakpoint-lg) {
            padding-bottom: px-to-rem(4px);
        }
    }

    &__logo-block-wrapper {
        align-items: center;
        display: flex;
        height: px-to-rem(45px);
        justify-content: center;
        position: relative;

        @media ($breakpoint-ml) {
            height: px-to-rem(79px);
        }
    }

    &__logo-link {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    &__logo {
        display: block;
        max-width: px-to-rem(150px);
        width: 100%;

        @media ($breakpoint-ml) {
            max-width: px-to-rem(221px);
        }
    }

    &__actions {
        align-items: center;
        display: flex;
        height: 100%;

        @media ($breakpoint-ml) {
            align-items: flex-end;
            flex-direction: column;
            flex-grow: 1;
        }
    }

    &__cart-wrapper {
        margin-right: px-to-rem(10px);

        @media ($breakpoint-ml) {
            margin-top: px-to-rem(10px);
            margin-right: 0;
        }
    }

    &__nav-trigger {
        height: px-to-rem(24px);
        width: px-to-rem(26px);

        @media ($breakpoint-ml) {
            display: none;
        }

        &-icon {
            fill: $vida-loca;
        }
        &-icon-close {
            fill: $vida-loca;
            display: none;
        }
        &.is-active {
            .#{$ns}__nav-trigger-icon-close {
                display: inline;
            }
            .#{$ns}__nav-trigger-icon {
                display: none;
            }
        }
    }

    &__nav-wrapper {
        background-color: $white;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;

        @media ($breakpoint-ml) {
            background-color: transparent;
            display: block;
            right: 0;
            top: $global-header-navigation-height;
            padding: 0 px-to-rem(30px);
        }

        &.is-menu-active {
            display: block;
        }
    }

    &__search {
        margin-top: px-to-rem(10px);

        @media ($breakpoint-ml) {
            display: block;
            position: absolute;
            top: px-to-rem(12px);
            right: px-to-rem(130px);
        }
    }

    &__navigation-global {
        padding: 0 px-to-rem(25px);

        @media ($breakpoint-ml) {
            display: block;
            margin-right: auto;
            padding: 0;
            position: absolute;
            right: px-to-rem(30px);
            width: calc(100% - #{px-to-rem(285px)});
        }
    }

    &__navigation-utility {
        @media ($breakpoint-ml) {
            position: absolute;
            top: calc(-#{$st-header__padding-top} - #{px-to-rem(56px)});
            right: 0;
        }
    }

    .is-fixing,
    .is-fixed {
        position: fixed;
        transition: top .25s linear;
        width: 100%;
        z-index: $z-index-header;
    }

    .is-fixing {
        top: px-to-rem(-300px);
    }

    .is-fixed {
        top: 0;
    }
}

/* Modifiers
   ============================================================================ */

.#{$ns}--minimal {
    .#{$ns} {
        &__container {
            position: relative;

            &::after {
                bottom: px-to-rem(12px);

                @media ($breakpoint-ml) {
                    bottom: 0;
                }
            }
        }

        &__logo {
            &-block-wrapper {
                justify-content: flex-start;
            }

            &-link {
                @media ($breakpoint-ml) {
                    margin-left: 0;
                }
            }

        }

        &__phone {
            display: none;

            @media ($breakpoint-ml) {
                display: block;
            }

        }

        &__phone-link {
            font-size: px-to-rem(30px);
        }
    }
}
