<nav class="progress" aria-label="Checkout Steps">
	<ol>
		<li class="has-link"><a href="#"><span aria-hidden="true">Step 1</span><span class="name"> Shipping</span></a></li>
		<li class="active"><span aria-hidden="true">Step 2</span><span class="name"> Billing</span></li>
		<li><span aria-hidden="true">Step 3</span><span class="name"> Place Order</span></li>
	</ol>
</nav>
