<section class="slider pl-slider">
	<img src="https://via.placeholder.com/1440x900" alt="alt text here">
	<img src="https://via.placeholder.com/1440x900" alt="alt text here">
	<img src="https://via.placeholder.com/1440x900" alt="alt text here">
</section>
