<section class="product-certifications">
	<h2>Simple Goodness</h2>
	<ul>
		<li>
			<img src="https://via.placeholder.com/135x135" alt="">
			<span>Certified B Corporation</span>
		</li>
		<li>
			<img src="https://via.placeholder.com/135x135" alt="">
			<span>Non-GMO Project Verified</span>
		</li>
		<li>
			<img src="https://via.placeholder.com/135x135" alt="">
			<span>Certified Kosher</span>
		</li>
		<li>
			<img src="https://via.placeholder.com/135x135" alt="">
			<span>Certified Glyphosate Residue Free</span>
		</li>
		<li>
			<img src="https://via.placeholder.com/135x135" alt="">
			<span>Gluten Free</span>
		</li>
		<li>
			<img src="https://via.placeholder.com/135x135" alt="">
			<span>Vegan</span>
		</li>
		<li>
			<img src="https://via.placeholder.com/135x135" alt="">
			<span>Vegitarian</span>
		</li>
		<li>
			<img src="https://via.placeholder.com/135x135" alt="">
			<span>Dairy & Soy Free</span>
		</li>
		<li>
			<img src="https://via.placeholder.com/135x135" alt="">
			<span>Tested for 125+ Pesticides and Herbicides</span>
		</li>
	</ul>
</section>
