.reverse-btn {
    color: $zuccini;
    background-color: $white;

    &:hover, &:focus {
        color: $white;
        background-color: $vidaLoca;
    }

    &[disabled] {
        color: $dove-gray;
        background-color: $white; 
    }
}
