<section class="subscriptions-faq">
    <h2>Frequently Asked Questions</h2>

    <details>
        <summary>What is MegaFood subscriptions?</summary>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.
            <ul>
                <li>Here's an</li>
                <li>unordered list</li>
            </ul>
            <p>And another paragraph here.</p>
        </div>
    </details>

    <details>
        <summary>How do I join MegaFood subscriptions?</summary>
        <div>Lorem ipsum dolor sit amet, ei has iisque fierent ancillae, qui te nobis prodesset consequuntur. Eu fugit graeci melius ius, eum mundi evertitur ne, no duo veniam percipit. Eos alterum facilis voluptatibus ne, ex mea elit torquatos efficiantur. Vix ei maiorum pertinacia, te vel possim denique.</div>
    </details>

    <details>
        <summary>What will happen after I join MegaFood subscriptions?</summary>
        <div>Lorem ipsum dolor sit amet, ei has iisque fierent ancillae, qui te nobis prodesset consequuntur. Eu fugit graeci melius ius, eum mundi evertitur ne, no duo veniam percipit. Eos alterum facilis voluptatibus ne, ex mea elit torquatos efficiantur. Vix ei maiorum pertinacia, te vel possim denique.</div>
    </details>

    <details>
        <summary>How do I make changes to my MegaFood subscrptions?</summary>
        <div>Lorem ipsum dolor sit amet, ei has iisque fierent ancillae, qui te nobis prodesset consequuntur. Eu fugit graeci melius ius, eum mundi evertitur ne, no duo veniam percipit. Eos alterum facilis voluptatibus ne, ex mea elit torquatos efficiantur. Vix ei maiorum pertinacia, te vel possim denique.</div>
    </details>
</section>
