a {
    color: $vidaLoca;
    text-decoration: none;
    text-decoration: underline;
    transition: all .25s ease;

    &:hover, &:focus {
        color: $zuccini;
        cursor: pointer;
        transition: all .25s ease;
    }

    &[disabled] {
        color: $dove-gray;
        cursor: not-allowed;
    }
}
