.cta-highlight {
    text-align: center;
    padding: px-to-rem(32px) $gutter-sm;
    border: 6px solid $saffron;
    margin-bottom: px-to-rem(40px);

    h2 {
        color: $zuccini;
    }

    .btn {
        margin-bottom: 0;
    }

    @media ($breakpoint-ml) {
        padding: px-to-rem(40px) $gutter-sm;
    }

    @media ($breakpoint-lg) {
        padding: px-to-rem(63px) px-to-rem(210px) px-to-rem(56px) px-to-rem(210px);
        margin-bottom: px-to-rem(69px);
    }
}
