<section class="benefits">
	<div>
		<img src="https://via.placeholder.com/242x242" alt="example image">
		<h2>Benefits of MegaFood Subscriptions</h2>
	</div>

	<ul>
		<li>
		<h3>Discounts</h3>

		<p>Start saving 10% on every subscription order, not just your first order</p>
		</li>
		<li>
		<h3>2 Day Shipping</h3>

		<p>Free 2 Business Day Shipping on us</p>
		</li>
		<li>
		<h3>Convenience</h3>

		<p>Your vitamins will automagically be delivered to your door by the frequency you set</p>
		</li>
		<li>
		<h3>Early Access</h3>

		<p>You will be the first to try new products and learn new discounts</p>
		</li>
	</ul>
</section>
