<form action="">
    <label for="name">Text</label>
    <input type="text" name="name" id="name" />

    <label for="email">Email*</label>
    <input type="email" name="input-email" id="email" required aria-required="true" />

    <label for="input-url">URL</label>
    <input type="url" name="input-url" id="input-url" aria-describedby="#hint-url" />
    <p id="hint-url">Include "http://" or "https://" in the URL.</p>

    <label for="input-password">Password</label>
    <input type="password" name="input-password" id="input-password" />

    <label for="input-search">Search</label>
    <input type="search" name="input-search" id="input-search" results="5" disabled />

    <fieldset>
        <legend>Select Options</legend>
        <input id="checkbox-1" name="test" type="checkbox" /><label for="checkbox-1">Checkbox 1</label>
        <input id="checkbox-2" name="test" type="checkbox" /><label for="checkbox-2">Checkbox 2</label>
    </fieldset>

    <input type="radio" id="radio-1" name="radio-test" /><label for="radio-1">Radio 1</label>
    <input type="radio" id="radio-2" name="radio-test" /><label for="radio-2">Radio 2</label>

    <label for="zip">Text Zip</label>
    <input type="text" name="zip" id="zip" />

    <label for="input-tel">Tel*</label>
    <input type="tel" name="input-tel" id="input-tel" placeholder="555-555-5555" required aria-required="true" /><!-- if erorr, `aria-invalid="true" aria-describedBy="error-1"` -->
    <!-- <p id="error-1">Here's the error message.</p> -->

    <label for="input-date">Date Picker</label>
    <input type="date" name="input-date" id="input-date" />

    <label for="input-file">Choose a File</label>
    <input type="file" name="input-file" id="input-file" />

    <label for="select">Select</label>
    <select name="select-input" id="select">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
    </select>

    <label for="textarea">Textarea</label>
    <textarea name="textarea" id="textarea"></textarea>

    <input type="submit" value="Submit" />

    <input type="reset" value="Reset" />
</form>
