<div class="side-nav">
	<button class="side-nav-btn">Need Help?</button>
	<p class="side-nav-title">Need Help?</p>
	<nav aria-label="{{navlabel}}">
		<ul>
			<li>
				{{> @link-icon class="store"}}
			</li>
			<li>
				{{> @link-icon class="email"}}
			</li>
		</ul>
	</nav>
</div>
