/* ============================================================================
Typography
============================================================================ */

/**
 * Base typography styles for both body copy and headers
 */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $emperor;
    font-family: $font-family-primary;
    font-size: px-to-rem(16px);
    font-weight: 400;
    line-height: 1.5;
}

h2,
.beta {
    @include pxl-header('h2');
    color: $kaitoke-green;
}

h3 {
    @include pxl-header('h3');
    color: $kaitoke-green;
}

.page-header {
    margin-bottom: px-to-rem(20px);
}
