.summary-box {
    padding: px-to-rem(16px) $gutter-sm;
    background-color: $alabaster;
    margin-bottom: $bottom-margin;

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $white;
        padding-bottom: px-to-rem(16px);
        margin-bottom: px-to-rem(16px);

        a {
            color: $emperor;
            margin-left: $gutter-sm;

            &:hover, &:focus {
                color: $dove-gray;
            }
        }
    }

    h2 {
        font-size: px-to-rem(18px);
        line-height: 1;
        color: $mine-shaft;
        margin-bottom: 0;
    }

    .c-product-block {
        margin-bottom: px-to-rem(16px);

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
