table {
    margin-bottom: $bottom-margin;

    caption {
        @include secondary-font(600);
        font-size: px-to-rem(16px);
        text-align: left;
        margin-bottom: 0.5rem;
    }

    th, td {
        padding: 0.5rem;
        border: 1px solid $dusty-gray;
    }

    th {
        font-weight: 600;
        color: $mine-shaft;
        text-align: left;
        background-color: $alabaster;

        &[scope="colgroup"] {
            text-align: center;
        }
    }
}
