<table>
	<thead>
		<tr>
			<th>Header content</th>
			<th>Header content</th>
			<th>Header content</th>
			<th>Header content</th>
			<th>Header content</th>
			<th>Header content</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
		</tr>
		<tr>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
		</tr>
		<tr>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
		</tr>
		<tr>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
		</tr>
		<tr>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
		</tr>
		<tr>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
		</tr>
		<tr>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
		</tr>
		<tr>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
			<td>Body content</td>
		</tr>
	</tbody>
</table>
