<main class="content-landing">
	<div><img src="https://via.placeholder.com/1440x550?text=Optional+Content+Slot" alt="Optional content slot"></div>
	<div class="primary">
		<p>This is the primary content area that gets the padding.</p>
	</div>
</main>
