.img-banner {
    position: relative;

    picture {
        display: none;
    }

    .text {
        padding: px-to-rem(32px) $gutter-sm;
        text-align: center;
        background-color: $alabaster;
    }

    h1 {
        @include tertiary-font();
        font-size: px-to-rem(36px);
        color: $zuccini;
        margin-bottom: 0;
    }

    p {
        font-size: px-to-rem(21px);
        color: $zuccini;
    }

    a {
        display: block;
        position: relative;
        @include primary-font(400);
        font-family: 'Source Sans Pro', arial, sans-serif;
        font-size: px-to-rem(16px);
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: $black;
        background-color: $alabaster;
        padding: 0 $gutter-sm (px-to-rem(56px) + px-to-rem(32px)) $gutter-sm;

        &:hover, &:focus {
            text-decoration: underline;

            &::after {
                opacity: 1;
                border: 2px solid $gray;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: calc(100% - #{px-to-rem(56px) + px-to-rem(16px)});
            height: px-to-rem(56px);
            width: px-to-rem(56px);
            background-color: $white;
            border-radius: 50%;
            transform: translateX(-50%);
        }

        span {
            @include arrow('down', $black);
            
            &::before, &::after {
                top: calc(100% - #{px-to-rem(53px)});
                z-index: 1;
            }
        }
    }

    @media ($breakpoint-xxs) {
        picture {
            display: block;
        }

        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 $gutter-sm;
            width: max-content;
        }

        h1, p, a span {
            background-color: $alabaster;
            padding: px-to-rem(2px) px-to-rem(4px);
        }

        a {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            margin-bottom: px-to-rem(96px);
            padding-bottom: 0;

            &::after {
                top: calc(100% + #{px-to-rem(16px)});
            }

            span {
                &::before, &::after {
                    top: calc(100% + #{px-to-rem(35px)});
                }
            }
        }
    }

    @media ($breakpoint-lg) {
        .text {
            min-width: 0;
        }

        h1 {
            font-size: px-to-rem(72px);
            margin-bottom: px-to-rem(11px);
        }

        p {
            font-size: px-to-rem(24px);
        }

        a {
            margin-bottom: px-to-rem(120px);
        }
    }
}
